body {
  background: white;
}

.valute {
  font-size: 16px;
}

.Conv h1 {
  font-size: 32px;
  text-align: center;
}

.vvedite-summu {
  height: 30px;
  padding-left: 40px;
  font-size: 13px;
  font-weight: bold;
}

.convert p {
  padding-left: 40px;
  font-size: 16px;
  font-weight: bold;
}
